package templates


templ Garden() {
    <html>
        <body style="background-color: black; color: orange;">
            <h1>Home</h1>
            <h2>hi mom</h2>
            <div>
                <input type="text"></input>
                <button type="submit">Send</button>
            </div>
        </body>
    </html>
}
