package templates

import (
 //   "dailygardenguide/internal/db"
)

templ Home() {
    <html>
        <body style="background-color: black; color: orange;">
            <h1>Home</h1>
            <button>Add Garden</button>
//            for _, garden := range(gardens) {
//            <li>{ garden.Name }</li>
//            }
        </body>
    </html>
}
